.flex {
  display: flex;
  justify-content: flex-end;
}

.uno{
  padding: 0;
  margin: 0;
  text-align: start;
  margin: auto;
  padding: auto;
  

}
.dos{

  
  text-align: end;
}

.red{
  color: red !important;
}